{% extends 'aplicacion1/index2.html' %}

{% block contenido %}
<button id="triggerModal" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#avatarModal">
  Launch modal
</button>

<div class="modal fade show" id="avatarModal" tabindex="-1" aria-labelledby="avatarModalLabel" style="display: block;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">Agregar Avatar</h5>
        </div>
        <div class="modal-body">
          {{ form.as_p }}
        </div>
        <div class="modal-footer justify-content-center">
          <a href="{% url 'inicio' %}" class="btn btn-secondary">Cancelar</a>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  window.onload = function () {
    const modal = new bootstrap.Modal(document.getElementById('avatarModal'));
    modal.show();
  };
</script>
{% endblock contenido %}
