{% extends 'aplicacion1/index2.html' %}

{% block titulo %}
<h1>Lista de Productos</h1>
{% endblock titulo %}

{% block contenido %}
<table>
    <tr>
        <td width="200"><h2>Productos</h2></td>
        <td>
            <a
            href="{% url 'productosCreate' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>        
    </tr>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
    {% for c in productos_list  %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.precio }}</td>
            <td>{{ c.cantidad }}</td>
            <td>
                <a
                  href="{% url 'productosUpdate' c.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'productosDelete' c.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
