{% extends 'aplicacion1/index.html' %}

{% block titulo %}
<h1>Lista de productos</h1>
{% endblock titulo %}

{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
    {% for c in productos  %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.precio }}</td>
            <td>{{ c.cantidad }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}